<section class="book-container detail-view">
  <img src="<%= book.image_url %>">
  <h3>
    <%= book.title %><% if (book.subtitle) { %>: <%= book.subtitle %> <% } %>
  </h3>
  <span>
    <%= book.author %>
  </span>
  <p class="desc">
    <%= book.description %>
  </p>
  <p class=""> <%= book.isbn %> </p>
  <p>Bookshelf: <% if ( book.bookshelf) { %>
    &mdash;
    Bookshelf:
    <%= book.bookshelf %>
    <% } %>
  </p>
</section>